<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show user</title>
</head>
<body>
<p th:text="${'Id ' + user.getId()}">VALUE</p>
<p th:text="${'Имя: ' + user.getName()}">VALUE</p>
<p th:text="${'Фамилия: ' + user.getLastName}">VALUE</p>
<p th:text="${'Возраст: ' + user.getAge}">VALUE</p>

<a th:href="@{/users/{id}/edit(id=${user.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>